<nav class="navbar navbar-expand-lg navbar-dark bg-success shadow-sm sticky-top">
  <div class="container">

    <a class="navbar-brand fw-bold" routerLink="/">
      🌱 GreenNest
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">

      <ul class="navbar-nav me-auto">

        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/plants">Plants</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/user-categories">Categories</a>
        </li>

        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/blog">Blog</a>
        </li> -->

      </ul>

      <form class="d-flex me-3" (ngSubmit)="searchPlant()">

       <input
  type="text"
  name="search"
  [(ngModel)]="searchText"
  (keyup.enter)="searchPlant()"
  placeholder="Search plants..."
  class="form-control"
/>

      </form>

      <ul class="navbar-nav">

        <li class="nav-item">
          <a routerLink="/cart" class="btn btn-outline-light position-relative">

            🛒 Cart

           <span
  class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
  {{ cartCount }}
</span>   

          </a>
        </li>
      </ul>

     <!-- USER SHOW -->
<div *ngIf="user; else loginBtn">

  <span (click)="goToProfile()" style="cursor:pointer" class="user">
    👤 {{ user.name }}
  </span>
</div>

<ng-template #loginBtn>
  <button class="login-btn" routerLink="/login">
    Login
  </button>
</ng-template>
    </div>

  </div>
</nav>