<div class="container mt-4">

  <div *ngIf="filteredProducts.length === 0" class="text-center mt-5">
    <h4>No products found 😔</h4>
  </div>

  <!-- FILTERS -->
  <div class="row mb-4">

    <!-- Category -->
    <div class="col-md-3">
      <select class="form-select" [(ngModel)]="selectedcategory" (change)="loadProducts()">
        <option value="">sort by Categories</option>
        <option *ngFor="let cat of categories" [value]="cat">
          {{cat}}
        </option>
      </select>
    </div>

    <!-- Sort -->
    <div class="col-md-3">
      <select class="form-select" [(ngModel)]="sortOption">
        <option value="">Sort By Price</option>
        <option value="low">Low → High</option>
        <option value="high">High → Low</option>
      </select>
    </div>

  </div>

  <!-- PRODUCTS -->
  <div class="row">

    <div class="col-md-4 mb-4"
         *ngFor="let product of filteredProducts">

      <div class="card product-card shadow-sm h-100"
           [routerLink]="['/product', product._id]">  <!-- 🔥 FIX -->

       <img
          [src]="product.image"
          class="card-img-top"
          onerror="this.src='https://via.placeholder.com/300x200'"
>
<div class="card-body text-center">

  <h5>{{product.name}}</h5>

  <p>{{product.category?.name}}</p>

  <h6 class="text-success">
    ₹{{product.price}}
  </h6>

  <!-- NEW BUTTON -->
  <button class="view-btn">
    View Product
  </button>

</div>

      </div>

    </div>

  </div>

</div>