<div class="container mt-5">

  <!-- USER INFO -->
  <h3>👤 My Profile</h3>

  <div class="card p-3 mb-4">
    <p><b>Name:</b> {{ user?.name }}</p>
    <p><b>Email:</b> {{ user?.email }}</p>

    <button class="btn btn-sm btn-danger ms-2"
          (click)="logout()">
    Logout
  </button>
  </div>

  <!-- ORDERS -->
  <h4>🛒 My Orders</h4>

  <div *ngIf="orders.length === 0">
    <p>No orders yet 😔</p>
  </div>

  <div *ngFor="let order of orders" class="card p-3 mb-3">

    <p><b>Total:</b> ₹{{ order.total }}</p>
    <p><b>Date:</b> {{ order.date | date }}</p>

    <hr>

    <div *ngFor="let item of order.items">
      {{ item.name }} (x{{ item.quantity }})
    </div>

  </div>

</div>