/* PROFILE CARD */
.profile-card {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.user-info p {
  margin: 5px 0;
}

.logout-btn {
  margin-top: 10px;
  background: #ff4d4f;
  border: none;
  padding: 8px 15px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.logout-btn:hover {
  background: #e60023;
}

/* ORDERS */
.orders-section h4 {
  font-weight: bold;
}

.no-orders {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

/* ORDER CARD */
.order-card {
  background: #fff;
  padding: 15px;
  margin-top: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

/* HEADER */
.order-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-price {
  font-size: 20px;
  font-weight: bold;
  color: green;
}

/* ITEMS */
.order-item {
  display: flex;
  align-items: center;
  margin-top: 10px;
  gap: 15px;
}

/* IMAGE */
.product-img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid #ddd;
}

/* DETAILS */
.item-details {
  flex: 1;
}

.item-name {
  font-weight: bold;
  margin-bottom: 5px;
}
.cancel-btn {
  background: #ff4d4f;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-top: 5px;
  border-radius: 6px;
  font-size: 12px;
}

.pending {
  color: orange;
  font-weight: bold;
}

.cancelled {
  color: red;
  font-weight: bold;
}