<div class="container mt-5">

  <h2 class="text-center">🛒 My Cart</h2>

  <div *ngIf="cartItems.length === 0" class="text-center mt-4">
    <h5>Cart is empty 😢</h5>
  </div>

  <div *ngFor="let item of cartItems" class="card mb-3 p-3">

    <div class="row align-items-center">

      <div class="col-md-3">
        <img [src]="'http://localhost:3000/' + item.image"
             class="img-fluid">
      </div>

      <div class="col-md-6">
        <h5>{{item.name}}</h5>
        <p>₹ {{item.price}}</p>
        <p>Qty: {{item.quantity}}</p>
      </div>

      <div class="col-md-3">
        <button class="btn btn-danger"
                (click)="removeItem(item.productId)">
          Remove
        </button>
      </div>

    </div>

  </div>

  <h3 class="text-end">Total: ₹ {{total}}</h3>

</div>