<div class="container mt-5" *ngIf="product">

  <div class="row">

    <!-- LEFT SIDE -->
    <div class="col-md-5">

      <div class="image-box shadow-sm p-3">
  <img [src]="selectedImage ? selectedImage : ('http://localhost:3000/uploads/' + product.image)"
       class="img-fluid main-img">

  <!-- Thumbnails -->
  <div class="thumbs mt-3 d-flex">
    <img [src]="'http://localhost:3000/uploads/' + product.image"
         (click)="selectedImage = 'http://localhost:3000/uploads/' + product.image"
         class="thumb-img">
        </div>
      </div>

    </div>

    <!-- RIGHT SIDE -->
    <div class="col-md-7">

      <h2 class="product-title">{{ product.name }}</h2>

      <p class="text-muted">
        Category: {{ product.category?.name }}
      </p>

    <!-- Price -->
      <h3 class="price">₹{{ product.price }}</h3>

      <!-- Description -->
      <p class="description mt-3">
        {{ product.description }}
      </p>

      <!-- Quantity -->
      <div class="d-flex align-items-center mt-3">
        <button class="btn btn-outline-success"
                (click)="decreaseQty()">-</button>

        <span class="mx-3">{{ quantity }}</span>

        <button class="btn btn-outline-success"
                (click)="increaseQty()">+</button>
      </div>

      <!-- Buttons -->
      <div class="mt-4">
        <button class="btn btn-success me-3"
                (click)="addToCart(product)">
          🛒 Add to Cart
        </button>

        <button class="btn btn-warning text-white" (click)="buyNow()">
          ⚡ Buy Now
        </button>
      </div>

    </div>

  </div>

</div>

<!-- RELATED PRODUCTS -->
<div class="container mt-5" *ngIf="relatedProducts.length > 0">

  <h4>🌿 Related Plants</h4>

  <div class="row">

    <div class="col-md-3 mb-3" *ngFor="let p of relatedProducts">

      <div class="card h-100 shadow-sm" (click)="goToProduct(p._id)" style="cursor:pointer;">

        <img [src]="'http://localhost:3000/uploads/' + p.image"
             class="card-img-top"
             style="height:150px; object-fit:cover;">

        <div class="card-body">

          <h6>{{ p.name }}</h6>
          <p>₹{{ p.price }}</p>

          <button class="btn btn-sm btn-success"
                  (click)="goToProduct(p._id)">
            View
          </button>

        </div>

      </div>

    </div>

  </div>

</div>
